<h1>Dealersheps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dealersheps.each do |dealershep| %>
      <tr>
        <td><%= dealershep.name %></td>
        <td><%= link_to 'Show', dealershep %></td>
        <% if current_user&.is_admin? %>
          <td><%= link_to 'Edit', edit_dealershep_path(dealershep) %></td>
          <td><%= link_to 'Destroy', dealershep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dealershep', new_dealershep_path %>
