<div class="field">
  <strong> Company </strong>
  <%= @car.company %>
</div>
<div class="field">
  <strong> Model </strong>
  <%= @car.model %>
</div>
<div class="field">
  <strong> Year </strong>
  <%= @car.year %>
</div>
<div class="field">
  <strong> Is New? </strong>
  <%= @car.is_new %>
</div>
<div class="field">
  <strong> Price </strong>
  <%= number_to_currency(@car.price) %>
</div>
<div class="field">
  <strong> Dealership </strong>
  <%= link_to @car.dealership.name, dealership_path(@car.dealership)%>
</div>

<%= link_to 'Back', cars_path %>
<% if current_user&.is_admin? %>
 | <%= link_to 'Edit', edit_car_path(@car) %>
<% end %>
