<!DOCTYPE html>
<html>
  <head>
    <title>SonataUcsi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav" style="background: lightgray">
      <% if current_user %>
        <small style="color: red"><%= current_user.is_admin? ? 'Admin' : '' %></small>
        <i><%= current_user.email %> - </i>
        <%= link_to 'Profile', edit_user_path(current_user) %>
        <%= link_to 'Logout', :logout, method: :post %>
      <% else %>
        <%= link_to 'Register', new_user_path %>
        <%= link_to 'Login', :login %>
      <% end %>
    </div>
    <div id="flashes">
      <p id='notice'><%= flash[:notice] %></p>
      <p id='alert'><%= flash[:alert] %></p>
    </div>
    <%= yield %>
  </body>
</html>
